{erl_opts, [debug_info
           , bin_opt_info
           , warn_unused_import
           , warn_bif_clash
           , warn_export_all
           , warn_obsolete_guard
           , warn_unused_record
           %%, warn_untyped_record
           , warn_shadow_vars
           , warn_unused_vars
           , warn_export_vars
           , warn_exported_vars

           , warn_unused_function
           , warn_deprecated_function

           , strict_validation

            %%, warn_missing_spec
            %%, warnings_as_errors

           ]}.

{xref_checks,[
              undefined_function_calls,
              undefined_functions,
              locals_not_used,
              deprecated_function_calls,
              deprecated_functions
              ]}.

{provider_hooks, [{post, [{compile, xref}]}]}.

{deps, []}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [ssh_forward]}
]}.
